# Default values for hub-net-controller-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository:  ghcr.io/azure/fleet-networking/hub-net-controller-manager
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v0.1.0"

logVerbosity: 2

fleetSystemNamespace: fleet-system

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

# the secret containing service account token for member cluster controllers to access hub cluster resources
secretTokenForMember:
  name: hub-kubeconfig-secret
  namespace: fleet-system
  enabled: false

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}
