name: Unit Tests

on:
    pull_request: {}
    push: {}

env:
  # Common versions
  GO_VERSION: '1.17'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go ${{ env.GO_VERSION }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build Binaries
      run: make build

    - name: Unit Tests
      run: make test
