name: fleet-networking-ci

on:
  push:
    branches:
      - main
      - release-*
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore: [docs/**, "**.md", "**.mdx", "**.png", "**.jpg"]

env:
  GO_VERSION: '1.18'

  # TODO: once fleet repo is public, we could remove these env variables.
  GOPROXY: ${{ secrets.GOPROXY }}
  GOPRIVATE: ${{ secrets.GOPRIVATE }}
  GONOPROXY: none

jobs:

  detect-noop:
    runs-on: ubuntu-latest
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  unit-tests:
    runs-on: ubuntu-latest
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Run unit tests & Generate coverage
        run: make test

      - name: Upload Codecov report
        uses: codecov/codecov-action@v3
        with:
          ## Repository upload token - get it from codecov.io. Required only for private repositories
          token: ${{ secrets.CODECOV_TOKEN }}
          ## Comma-separated list of files to upload
          files: ./coverage.xml

  e2e-tests:
    strategy:
      matrix:
        network-setting: [shared-vnet, peered-vnet,  dynamic-ip-allocation]
    runs-on: ubuntu-latest
    needs: [
      detect-noop,
    ]
    if: needs.detect-noop.outputs.noop != 'true'
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Prepare e2e
        run: |
          AZURE_RESOURCE_GROUP="fleet-networking-e2e-$RANDOM"
          echo "::set-env name=AZURE_RESOURCE_GROUP::$AZURE_RESOURCE_GROUP"
        env:
          AZURE_CLIENT_ID: ${{ secrets.E2E_AZURE_CLIENT_ID}}
          AZURE_CLIENT_SECRET: ${{ secrets.E2E_AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_NETWORK_SETTING: ${{ matrix.network-setting }}

      - name: Run e2e tests
        run: |
          make e2e-tests
        env:
          AZURE_CLIENT_ID: ${{ secrets.E2E_AZURE_CLIENT_ID}}
          AZURE_CLIENT_SECRET: ${{ secrets.E2E_AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.E2E_AZURE_SUBSCRIPTION_ID }}
          AZURE_NETWORK_SETTING: ${{ matrix.network-setting }}
          AZURE_RESOURCE_GROUP: ${{ env.AZURE_RESOURCE_GROUP }}

      - name: Cleanup e2e
        run: |
          make e2e-cleanup
        env:
          AZURE_CLIENT_ID: ${{ secrets.E2E_AZURE_CLIENT_ID}}
          AZURE_CLIENT_SECRET: ${{ secrets.E2E_AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_NETWORK_SETTING: ${{ matrix.network-setting }}
          AZURE_RESOURCE_GROUP: ${{ env.AZURE_RESOURCE_GROUP }}
